<h2>Highscore</h2>
<div id="highscore">
  <table>
    <th>Place</th>
    <th>Nick</th>
    <th>Percentage</th>
    <th>Lines</th>
    <th>Words</th>
    <th>First Seen</th>
    <th>Last Seen</th>
    <% count = 1 %>
    <% @sorted_g_logs.each do |t| %>
      <% if t.nick != nil %>
        <tr>
          <td><%= count %></td>
          <td><%= t.nick.nick %></td>
          <td><%= sprintf("%.1f",((t.count.to_f / @total_count.to_f) * 100)) %>%</td>
          <td><%= t.count %></td>
          <td><%= t.nick.words %></td>
          <td><%= time_ago_in_words(t.nick.created_at) %> ago</td>
          <td><%= time_ago_in_words(t.nick.updated_at) %> ago</td>
        </tr>
        <% count += 1 %>
      <% end %>
    <%end%>
  </table>
</div>

<!-- GENERAL -->
<% count = 0 %>
<div id="general">
  <h2>General stats</h2>
  <table>
    <tr>
      <td>Number of users</td><td><%= @nicks.size %></td>
    </tr>
    <tr>
      <td>Users active in the last 30 days</td><td><%= Nick.active_last(30.days)  %></td>
    </tr>
    <tr>
      <td>Number of lines</td><td><%= Log.count %></td>
    </tr>
    <tr>
      <td>Number of questions asked to gangbot</td><td><%= EightballLog.count %></td>
    </tr>
    <tr>
      <td>% of lines by top 5 nicks</td><td><% for t in 0..5 %><% count += @sorted_g_logs[t].count.to_i %><%end%><%= sprintf("%.1f",((count.to_f / @total_count.to_f) * 100)) %>%</td>
    </tr>
  </table>
</div>
<div id="funsies">
  <h2>Funsies</h2>
  <% random_log = Log.random %>
  <p>
    Quote of the now: &lsaquo;<%=h random_log.nick.nick %>&rsaquo; <%=h random_log.text %><br>
  </p>
  <div id="links">
    <h2>Last <%= @links.all.size %> links posted</h2>
    <table>
      <th>Link</th>
      <th>Original poster</th>
      <th>First posted</th>
      <% @links.each do |l| %>
        <tr>
          <td class="maxlength"><%= link_to l.link, l.link %></td>
          <td><%=h l.nick.nick %></td>
          <td><%=h l.created_at.strftime("%c") %></td>
        </tr>
      <%end%>
    </table>
  </div>
  <div id="8balls">
    <h2>Last <%= @eightball_limit.all.size %> questions asked to gangbot</h2>
    <table>
      <th>Asked by</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Time since</th>
      <% @eightball_limit.each do |e| %>
        <tr>
          <td><%=h e.nick.nick %></td>
          <td><%=h e.query %></td>
          <td><%=h e.answer %></td>
          <td><%=h time_ago_in_words(Time.parse(e.created_at.to_s)) %></td>
        </tr>
      <%end%>
    </table>
  </div>
