<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ntnugangstaz @ efnet</title>
    <meta charset="utf-8">
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'highcharts/highcharts' %>
    <%= javascript_include_tag 'highcharts/themes/gray' %>
    <%= stylesheet_link_tag 'stylesheet' %>
<!-- CSS3 :D -->
<style>
<style> 
      .snurr {
        -webkit-transitions: 1s;
        -o-transitions: 1s;
	-moz-transition-duration: 1s;
        float: left;
      }
      .snurr:hover { 
        o-transition: 20s;
        -webkit-transition: 20s;
	-moz-transition-duration: 20s;
	-moz-transform: rotate(360deg);
        -webkit-transform: rotate(36000deg);
      }
</style>
  </head>
	  <body>
    <div id="container">
      <header>
      <img src="/images/gangstatz.png" class="snurr">
        </header>
      <div id="content">
        <%= yield %>
      </div>  
      <footer>
      <p>Gangstatz was created by dagingaa and larsivsi in May 2010. It is currently under development, and any information on this page is prone to error because of it. Logging is done by gangbot written by larsivsi, and presentation made possible by Ruby on Rails written by dagingaa. Yes, that's right haters, I coded Rails all by my self. So STFU.</p>
      </footer>
    </div>
  </body>
</html>
